# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Application specific
static/uploads/*
static/audio/*
static/text/*
!static/uploads/.gitkeep
!static/audio/.gitkeep
!static/text/.gitkeep
images/*
# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
*.tfvars
terraform/*
terraform_old/*

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# images


images.zip
*.h5